body {
  background-color:#EAF6F6 ;
  margin:0;
}

hr{
  background-color:#EAF6F6 ;
  border-style: dotted none none none;
  border-color: grey;
  border-width: 5px;
  height:0px;
  width:5%;
}

h1{
  color:#66BFBF;

}
h3{
  color:#66BFBF;
}

.img1{
  /* width: 500px; */
  height: 250px;
}
.table1{
  margin-right: 0;
  text-align: center;
  display: block;

}
.a{
  position:relative;
  left: 30%;
  margin: 0;
  
}
